/* Product Card Styling */
.product-card {
    width: 220px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: 390px;
    
   
  }

  .product-cardd {
    width: 220px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: 315px;
    
   
  }
  
  .product-card:hover {
    transform: scale(1.09);
  }


  .product-image {
    width: 100%;
    height: 230px;
    object-fit: contain;
  }
  
  .product-info {
    padding: 10px;
    text-align: center;
  }
  
  .product-title {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .product-price {
    font-size: 14px;
    color: #333;
    font-weight: 500;
  }
  

  @media (max-width: 768px) { /* For devices with width ≤ 768px */
    .ppd {
      overflow-x: scroll;
    }
  }

  @media (max-width: 768px) { /* For devices with width ≤ 768px */
    .product-card {
      width: 180px;
      border: 1px solid #ddd;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
     
    }
  }